DATABASE_URL="postgresql://rna:rna_dev_password@localhost:5432/rna_panneaux"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
UPLOADS_DIR="./public/uploads"
